.c-navbar{
  background-color: color(dark-mid);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 100%;

  @media (min-width: 48em){
    padding: 2rem 4rem;
  }

  &__search{
    width: 160px;
    height: auto;
    margin-right: 5px;
    border: 1px solid color(gray-mid);
    border-radius: 1px;
    
    @media (min-width: 48em){
      height: 3rem;
      width: 40%;
    }

  }

  &__list{
    list-style: none;
    // background-color: red;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    
    @media (min-width: 48em){
      width: 43%;
      justify-content: space-around;
    }

  }

  &__link:nth-of-type(2),
  &__link:nth-of-type(3){
    margin-left: 2px;
  }
  
  &__a{
    text-decoration: none;
    color: color(white);
    font-size: 14px;

    @media (min-width: 48em){
      // font-size: 1.8rem;
    }

  }
  
}