.c-slider {
  width: 100%;
  height: 45vh;
  //   margin: 0 auto;
  position: relative;

  &__images-container {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    align-items: center;
    background-color: color(gray-primary);

    @media (min-width: 48rem) {
      justify-content: space-between;
    }
  }

  &__image {
    // width: auto;
    min-width: 300px;
    height: 90%;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s ease;

    @media (min-width: 48rem) {
      min-width: 700px;
    }
    @media (min-width: 62rem) {
      min-width: 950px;
    }
  }

  &__btn {
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
  }

  &__btn-left {
    left: 1%;
  }

  &__btn-right {
    right: 1%;
  }

  //   &__image.active {
  //     z-index: 10;
  //     position: absolute;
  //     left: 5%;
  //     right: 25%;
  //     overflow: hidden;
  //   }

  //   &__image.active::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     right: 0;
  //     width: 25%;
  //     background: linear-gradient(90deg, transparent, #fff);
  //   }
  //   &__image.active::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     width: 25%;
  //     background: linear-gradient(90deg, #fff, transparent);
  //   }
}
