.c-slider {
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  //   padding-top: 3rem;
  position: relative;

  &__images-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 90%; /* 3 images should have a width of 33% each */
    height: 90%;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s ease;
  }

  &__btn {
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
  }

  &__btn-left {
    left: 1%;
  }

  &__btn-right {
    right: 1%;
  }

  //   &__image.active {
  //     z-index: 10;
  //     position: absolute;
  //     left: 5%;
  //     right: 25%;
  //     overflow: hidden;
  //   }

  //   &__image.active::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     right: 0;
  //     width: 25%;
  //     background: linear-gradient(90deg, transparent, #fff);
  //   }
  //   &__image.active::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     width: 25%;
  //     background: linear-gradient(90deg, #fff, transparent);
  //   }
}
