.c-slider {
  width: 100%;
  height: 45vh;
  position: relative;
  overflow: hidden;
  display: flex;

  &__images-container {
    width: 100%;
    // height: 100%;
    // position: relative;
    background-size: cover;
    background-color: color(gray-primary);

    @media (min-width: 48rem) {
      // justify-content: space-between;
    }
  }

  // &__image {
  //   // min-width: 300px;
  //   width: 100%;
  //   height: auto;
  //   border-radius: 5px;
  //   position: relative;
  //   transition: all 0.5s ease;

  //   @media (min-width: 48rem) {
  //     min-width: 700px;
  //   }

  //   @media (min-width: 62rem) {
  //     min-width: 950px;
  //   }
  // }

  &__btn {
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
  }

  &__btn-left {
    left: 1%;
  }

  &__btn-right {
    right: 1%;
  }
}
