/*
* Colors
*/

$colors:(
  white: #fff,
  black: #000,
  dark-mid:#353535,
  black-primary: #212121,
  gray-primary: #F5F6F8,
  gray-mid: #D2D2D2,
  gray-ligth: #efefef,
  red: #ff0606,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}