/*
* Colors
*/

$colors: (
  white: #fff,
  black: #000,
  dark-mid: #353535,
  dark-mid-shadow: #4e4b4b,
  black-primary: #212121,
  gray-primary: #f5f6f8,
  gray-mid: #d2d2d2,
  gray-ligth: #efefef,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}
